<table class="table table-bordered table-striped">
  <thead>
    <tr role="row">
      <th>
        SID
      </th>
      <th>
        Tariff Package
      </th>
      <th>
        Tariff Schedule
      </th>
      <th>
        Weight
      </th>
      <th>
        Created At
      </th>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |tariff_plan| %>
      <% tariff_plan = TariffPlanDecorator.new(tariff_plan) %>
      <tr role="row" class="<%= cycle("odd", "even", name: "row_class") -%>">
        <td>
          <%= link_to(tariff_plan.id, dashboard_tariff_plan_path(tariff_plan)) %>
        </td>

        <td>
          <%= link_to(tariff_plan.tariff_package_name, dashboard_tariff_package_path(tariff_plan.tariff_package_id)) %>
        </td>

        <td>
          <%= link_to(tariff_plan.tariff_schedule_name, dashboard_tariff_schedule_path(tariff_plan.tariff_schedule_id)) %>
        </td>

        <td>
          <%= tariff_plan.weight %>
        </td>

        <td>
          <%= local_time(tariff_plan.created_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
