<div class="card-body">
  <%= simple_form_for(@resource, url: dashboard_tariff_plans_path(filter_params), wrapper: :input_group, html: { novalidate: true }) do |f| %>
    <div class="row">
      <div class="col-sm-4">
        <%= f.input(
          :tariff_package_id,
          collection: f.object.tariff_packages_options_for_select,
          disabled: true,
          input_html: {
            data: { behavior: "choices-input" }
          }
        ) %>

        <%= f.input(:tariff_package_id, as: :hidden) %>
      </div>

      <div class="col-sm-4">
        <%= f.input(
          :tariff_schedule_id,
          collection: f.object.tariff_schedules_options_for_select,
          prompt: true,
          input_html: {
            data: { behavior: "choices-input" }
          }
        ) %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>
