<%= page_title(title: "Tariff Plans") do %>
  <%= render("shared/filters") do |form| %>
    <%= form.select :category, TariffPackage.category.values.map { |t| [t.text, t] }, { filter_value: params.dig(:filter, :category) } %>
    <%= form.select(
      :tariff_package_id,
      current_carrier.tariff_packages.map do |tariff_package|
        tariff_package = TariffPackageDecorator.new(tariff_package)
        [tariff_package.name, tariff_package.id]
      end,
      { filter_value: params.dig(:filter, :tariff_package_id) },
      { data: { controller: "choices" }}
    ) %>

    <%= form.select(
      :tariff_schedule_id,
      current_carrier.tariff_schedules.map do |tariff_schedule|
        tariff_schedule = TariffScheduleDecorator.new(tariff_schedule)
        [ tariff_schedule.name, tariff_schedule.id ]
      end,
      { filter_value: params.dig(:filter, :tariff_schedule_id) },
      { data: { controller: "choices" }}
    ) %>

    <%= form.date_range title: "Created at", filter_value: [params.dig(:filter, :from_date), params.dig(:filter, :to_date)] %>
  <% end %>

  <% if policy(:tariff_plan).new? %>
    <%= render(
      "shared/new_resource_page_action",
      path: new_dashboard_tariff_plan_path(filter_params),
      disabled: params.dig(:filter, :tariff_package_id).blank?,
      disabled_title: "Filter by a tariff package to create a new tariff plan"
    ) %>
  <% end %>
<% end %>

<div class="card-body">
  <%= render "collection", resources: @resources %>

  <%= render "shared/pagination", resources: @resources %>
</div>
