<%= page_title(title: "Balance Transaction") %>

<div class="card-body">
  <%= show_for(@resource) do |f| %>
    <%= f.attribute :id, label: "ID" do %>
      <code>
        <%= f.object.id %>
      </code>
    <% end %>

    <%= f.attribute :account, value: external_link_to(f.object.account.name, dashboard_account_path(f.object.account)) %>
    <%= f.attribute :type, value: f.object.type.text %>
    <%= f.attribute :amount, value: f.object.amount.format %>
    <%= f.attribute :description %>
    <%= f.attribute :created_by do %>
      <%= external_link_to(f.object.created_by.name, dashboard_carrier_user_path(f.object.created_by)) if f.object.created_by.present? %>
    <% end %>

    <%= f.attribute :created_at, value: local_time(@resource.created_at) %>
    <%= f.attribute :updated_at, value: local_time(@resource.updated_at) %>
  <% end %>
</div>
