<%= page_title(title: "Account") do %>
  <% if policy(@resource).edit? %>
    <%= render("shared/edit_resource_page_action", path: edit_dashboard_account_path(@resource)) %>
  <% end %>

  <% if policy(@resource).destroy? %>
    <%= render("shared/destroy_resource_page_action", path: dashboard_account_path(@resource)) %>
  <% end %>
<% end %>

<div class="card-body">
  <% if UserInvitationPolicy.new(pundit_user, @resource.owner).update? %>
    <div class="alert alert-info" role="alert">
      <i class="fa-solid fa-info-circle"></i> The account owner has not yet accepted their invite.
      <%= button_to("Resend", dashboard_user_invitation_path(@resource.owner), class: "btn btn-link p-0", form_class: "d-inline", method: :patch) %>
    </div>
  <% end %>

  <div id="general" class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">General</h5>
      <%= show_for(@resource) do |f| %>
        <%= f.attribute :id, label: "SID" do %>
          <code>
            <%= @resource.id %>
          </code>
        <% end %>

        <%= f.attribute :name, value: @resource.name %>

        <% if policy(@resource).show_auth_token? %>
          <%= f.attribute :auth_token, label: "Auth Token", value: mask_content(@resource.auth_token) %>
        <% end %>
        <%= f.attribute :type, value: @resource.type.text %>
        <%= f.attribute :status, value: @resource.status.text %>
        <%= f.attribute :active_phone_numbers, value: external_link_to("Manage", dashboard_incoming_phone_numbers_path(filter: { status: :active, account_id: @resource.id}), title: "Manage") %>

        <%= f.attribute :metadata do %>
          <pre><code><%= JSON.pretty_generate(@resource.metadata) %></code></pre>
        <% end %>

        <%= f.attribute :created_at, value: local_time(@resource.created_at) %>
        <%= f.attribute :updated_at, value: local_time(@resource.updated_at) %>
      <% end %>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Owner</h5>

      <%= show_for(@resource) do |f| %>
        <%= f.attribute :name, value: @resource.owner&.name %>
        <%= f.attribute :email, value: @resource.owner&.email %>
      <% end %>
    </div>
  </div>

  <div id="billing" class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Billing</h5>

      <%= show_for(@resource) do |f| %>
        <%= f.attribute(:billing_enabled, content_html: { id: "billing-enabled" }) %>
        <%= f.attribute :billing_currency, value: f.object.billing_currency.name %>

        <%= f.attribute(
          :balance_transactions,
          value: external_link_to(
            "View",
            dashboard_balance_transactions_path(filter: { account_id: f.object.id }),
            title: "View"
          )
        ) %>

        <%= f.attribute :balance, value: GetAccountBalance.call(f.object).format %>
        <%= f.attribute :billing_mode, value: f.object.billing_mode.text %>
        <%= f.attribute :tariff_plans do %>
          <% if f.object.tariff_plan_subscriptions.present? %>
            <%= tariff_plans(f.object.tariff_plan_subscriptions) %>
          <% end %>
        <% end %>

        <%= f.attribute(
          :phone_number_plans,
          value: external_link_to(
            "View",
            dashboard_phone_number_plans_path(filter: { account_id: @resource.id }),
            title: "Manage"
          )
        ) %>
      <% end %>
    </div>
  </div>

  <div id="voice" class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Voice</h5>
      <%= show_for(@resource) do |f| %>
        <%= f.attribute :sip_trunk do %>
          <% if @resource.sip_trunk.present? %>
            <%= external_link_to(@resource.sip_trunk.name, dashboard_sip_trunk_path(@resource.sip_trunk)) %>
          <% end %>
        <% end %>

        <%= f.attribute :calls_per_second %>

        <% if policy(:phone_call).index? %>
          <%= f.attribute :phone_calls, value: external_link_to("View", dashboard_phone_calls_path(filter: { account_id: @resource.id }), title: "View phone calls") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="messaging" class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Messaging</h5>

      <%= show_for(@resource) do |f| %>
        <% if policy(:message).index? %>
          <%= f.attribute :messages, value: external_link_to("View", dashboard_messages_path(filter: { account_id: @resource.id }), title: "View messages") %>
        <% end %>

        <% if policy(:messaging_service).index? %>
          <%= f.attribute :messaging_services, value: external_link_to("Manage", dashboard_messaging_services_path(filter: { account_id: @resource.id }), title: "Manage messaging services") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="tts" class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Text to speech</h5>
      <%= show_for(@resource) do |f| %>
        <%= f.attribute :voice, value: @resource.default_tts_voice %>

        <% if policy(:tts_event).index? %>
          <%= f.attribute :tts_events, value: external_link_to("View", dashboard_tts_events_path(filter: { account_id: @resource.id }), title: "View TTS events") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
