<% content_for(:logo) do %>
  <%= image_tag "logo.png", class: "img-fluid mx-auto px-5 my-3 d-block w-50" %>
<% end %>

<h1>Sign up</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= recaptcha_v3(action: "sign_up") %>

  <%= f.input :name, autofocus: true %>
  <%= f.input :work_email %>

  <div class="row">
    <div class="col-6">
      <%= f.input :company %>
    </div>
    <div class="col-6">
      <%= f.input :country %>
    </div>
  </div>

  <%= f.input :website, hint: "Must start with https or http" %>

  <%= f.input :password,
              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
              input_html: { autocomplete: "new-password" } %>

  <%= f.input :password_confirmation,
              input_html: { autocomplete: "new-password" } %>

  <div class="row">
    <div class="col-6">
      <%= f.button :submit, "Sign up" %>
    </div>
    <div class="col-6 text-right">
      <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>

<div class="row mt-3">
  <div class="col-12">
    <%= render "devise/shared/links" %>
  </div>
</div>

