<h1>Sign up</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :input_group, html: { data: { controller: "sign-up", turbo: false } }) do |f| %>
  <%= f.input :name, autofocus: true %>
  <%= f.input :work_email %>

  <div class="row">
    <div class="col">
      <%= f.input(
        :company,
        input_html: {
          data: {
            "sign-up-target" => "companyInput",
            action: "sign-up#updateCompanyInput"
          }
        }
      ) %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= f.input :country,
          priority: ["US"],
          input_html: {
            data: {
              controller: "enhanced-select"
            }
          }
      %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%=
        f.input(
          :billing_currency,
          collection: resource.available_currencies.map {|currency| [currency.name, currency.iso_code] },
          input_html: {
            data: {
              controller: "enhanced-select"
            }
          }
        )
      %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <%= f.input :website, hint: "Must start with http or https" %>
    </div>
    <div class="col-6">
      <%=
        f.input(
          :subdomain,
          maxlength: 128,
          hint: "Access the dashboard through this subdomain",
          append: ".#{AppSettings.app_uri.host}",
          input_html: {
            data: {
              "sign-up-target" => "subdomainInput"
            }
          }
        ) %>
    </div>
  </div>

  <%= f.input(
      :password,
      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
      input_html: { autocomplete: "new-password" }
    )
  %>

  <%= f.input(
      :password_confirmation,
      input_html: { autocomplete: "new-password" }
    )
  %>

  <%= render("shared/captcha", action: :sign_up) %>
  <%= f.button :submit, "Sign up" %>
  <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
<% end %>
