<% content_for(:page_title) do %>
  Carrier Registration
<% end %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :input_group, html: { data: { controller: "sign-up", turbo: false } }) do |f| %>
  <%= f.input(:name, autofocus: true, label: "Your name") %>
  <%= f.input(:work_email) %>

  <div class="row">
    <div class="col">
      <%= f.input(
        :company,
        label: "Company / Carrier name",
        input_html: {
          data: {
            "sign-up-target" => "companyInput",
            action: "sign-up#updateCompanyInput"
          }
        }
      ) %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= f.input(
        :country,
        format: :with_flag,
        priority: ["US", "UK", "CA", "AU", "DE", "FR"],
        sort_provided: false,
        include_blank: true,
        input_html: {
          class: "form-select",
          data: {
            controller: "enhanced-select"
          }
        }
      ) %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%=
        f.input(
          :billing_currency,
          collection: f.object.available_currencies.map { [ it.name, it.iso_code] },
          hint: "The currency used to charge your customers",
          input_html: {
            data: {
              controller: "enhanced-select"
            }
          }
        )
      %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <%= f.input(:website, hint: "Must start with http or https") %>
    </div>
    <div class="col-6">
      <%=
        f.input(
          :subdomain,
          maxlength: 128,
          hint: "Access the dashboard through this subdomain",
          append: ".#{AppSettings.app_uri.host}",
          input_html: {
            data: {
              "sign-up-target" => "subdomainInput"
            }
          }
        ) %>
    </div>
  </div>

  <%= f.input(
      :password,
      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
      input_html: { autocomplete: "new-password" }
    )
  %>

  <%= f.input(
      :password_confirmation,
      input_html: { autocomplete: "new-password" }
    )
  %>

  <%= render("shared/captcha", action: :sign_up) %>
  <%= f.button :submit, "Sign up" %>
  <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
<% end %>
