<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
  <div class="c-sidebar-brand">
    <%= link_to dashboard_root_path do %>
      <%= image_tag("logo.png", class: "c-sidebar-brand-full", height: 46) %>
      <%= image_tag("logo_square.png", class: "c-sidebar-brand-minimized", height: 46) %>
    <% end %>
  </div>
  <ul class="c-sidebar-nav">
    <% if policy(:account_settings).show? %>
      <%= sidebar_nav("Account Settings", dashboard_account_settings_path, icon_class: "fas fa-cloud") %>
    <% end %>

    <% if policy(:carrier_settings).show? %>
      <%= sidebar_nav("Carrier Settings", dashboard_carrier_settings_path, icon_class: "fas fa-broadcast-tower") %>
    <% end %>

    <% if policy(:account).index? %>
      <%= sidebar_nav("Accounts", dashboard_accounts_path, icon_class: "fas fa-cloud") %>
    <% end %>

    <% if policy(:inbound_sip_trunk).index? %>
      <%= sidebar_nav("Inbound SIP Trunks", dashboard_inbound_sip_trunks_path, icon_class: "fas fa-sort-amount-down") %>
    <% end %>

    <% if policy(:outbound_sip_trunk).index? %>
      <%= sidebar_nav("Outbound SIP Trunks", dashboard_outbound_sip_trunks_path, icon_class: "fas fa-sort-amount-up") %>
    <% end %>

    <% if policy(:phone_number).index? %>
      <%= sidebar_nav("Phone Numbers", dashboard_phone_numbers_path, icon_class: "fas fa-hashtag") %>
    <% end %>

    <% if policy(:phone_call).index? %>
      <%= sidebar_nav("Phone Calls", dashboard_phone_calls_path, icon_class: "fas fa-phone") %>
    <% end %>

    <% if policy(:carrier_user).index? %>
      <%= sidebar_nav("Users", dashboard_carrier_users_path, icon_class: "fas fa-users") %>
    <% end %>

    <% if policy(:account_membership).index? %>
      <%= sidebar_nav("Users", dashboard_account_memberships_path, icon_class: "fas fa-users") %>
    <% end %>

    <li class="c-sidebar-nav-item"><hr/></li>

    <% if policy(:import).index? %>
      <%= sidebar_nav("Imports", dashboard_imports_path, icon_class: "fas fa-file-upload") %>
    <% end %>

    <% if policy(:export).index? %>
      <%= sidebar_nav("Exports", dashboard_exports_path, icon_class: "fas fa-file-download") %>
    <% end %>
  </ul>

  <% if current_organization.carrier? && current_carrier.restricted? %>
    <div class="c-sidebar-footer">
      <div class="text-center"><strong>Account (Trial)</strong></div>

      <% interactions_count = CarrierStanding.new(current_carrier).interactions_this_month.count %>
      <% max_interations_count = CarrierStanding::MAX_RESTRICTED_INTERACTIONS_PER_MONTH %>
      <% interactions_count = 0 %>


      <div>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: <%= (interactions_count.to_f / max_interations_count * 100).to_i %>%"></div>
        </div>
        <div class="text-center">
          <%= interactions_count %> of <%= max_interations_count %> interactions used
          <a tabindex="0" data-toggle="popover" data-trigger="focus" data-content="An interaction is a completed phone call or SMS.">
            <i class="fas fa-info-circle"></i>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>
