<%= page_title(title: "Error Logs") do %>
  <%= render("shared/filters") do |form| %>
    <%= form.select(
        :type,
        ErrorLog.type.values.map { |t| [t.text, t] },
        { filter_value: params.dig(:filter, :type) }
      )
    %>

    <% if policy(:account).show? %>
      <%= form.select(
          :account_id,
          current_carrier.accounts.map { |account| [account.name, account.id] },
          { filter_value: params.dig(:filter, :account_id) },
          { data: { controller: "enhanced-select" }}
        )
      %>
    <% end %>

    <%= form.date_range title: "Created At", filter_value: [params.dig(:filter, :from_date), params.dig(:filter, :to_date)] %>
  <% end %>
<% end %>

<div class="card-body">
  <%= render "collection", resources: @resources %>

  <%= render "shared/pagination", resources: @resources %>
</div>
