<table class="table table-bordered table-striped">
  <thead>
    <tr role="row">
      <th>
        SID
      </th>
      <th>
        Name
      </th>
      <th>
        Tariff Schedules
      </th>
      <th>
        Created At
      </th>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |tariff_package| %>
      <% tariff_package = TariffPackageDecorator.new(tariff_package) %>
      <tr role="row" class="<%= cycle("odd", "even", name: "row_class") -%>">
        <td>
          <%= link_to(tariff_package.id, dashboard_tariff_package_path(tariff_package)) %>
        </td>

        <td>
          <%= tariff_package.name %>
        </td>

        <td>
          <%= summarize_list(
            DecoratedCollection.new(
              tariff_package.schedules,
            ).map { link_to(_1.name, dashboard_tariff_schedule_path(_1)) },
            max: 1,
            link_to_remaining: dashboard_tariff_schedules_path(filter: { tariff_package_id: tariff_package.id })
          ) %>
        </td>

        <td>
          <%= local_time(tariff_package.created_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
