<div class="card-body">
  <%= simple_form_for([:dashboard, resource], html: { data: { controller: "sip-trunks" } }) do |f| %>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">General</h5>

        <div class="row">
          <div class="col-sm-6">
            <%=
              f.input(
                :authentication_mode,
                as: :radio_buttons,
                checked: resource.authentication_mode || SIPTrunk.authentication_mode.values.first,
                wrapper: :vertical_collection_inline,
                hint: "If you have a dedicated public static IP address you may choose 'IP address', otherwise choose 'Client credentials'",
                input_html: {
                  data: {
                    sip_trunks_target: "authenticationModeInput",
                    action: "click->sip-trunks#toggleAuthenticationMode"
                  }
                }
              )
            %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <%= f.input :name, placeholder: "Main SIP Trunk", maxlength: 128, hint: "A friendly name for the SIP Trunk" %>
          </div>

          <div class="col-sm-6">
            <%= f.input :max_channels, as: :integer, hint: "The maximum number of channels/concurrent calls. Leave blank for unlimited channels" %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <%= f.input(
              :region,
              collection: resource.region_options_for_select,
              include_blank: false,
              selected: f.object.region&.alias,
              hint: "Select the closest region. The following IP address will be used for RTP and to intitiate outbound calls to your SIP trunk in the <strong><span class=\"region-name\"></span></strong> region: <strong><span class=\"ip-address\"></strong>. Please make sure it's allowed on your firewall.".html_safe,
              hint_html: { class: "region-hint", data: { sip_trunks_target: "regionHint", ip_address_target: ".ip-address", region_name_target: ".region-name" } },
              input_html: {
                data: {
                  sip_trunks_target: "regionInput",
                  action: "change->sip-trunks#toggleRegion",
                }
              }
            ) %>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Inbound Dialing</h5>

        <div class="row">
          <div class="col-sm-6" data-sip-trunks-target="ipAddressAuthenticationSection">
            <%= f.input(
                :source_ip,
                placeholder: "175.100.7.240",
                hint: "The source IP address for inbound calls"
              )
            %>
          </div>

          <div class="col-sm-6">
            <%= f.input(
                :country,
                label: "Default country code",
                format: :with_dialing_country_code,
                include_blank: true,
                input_html: {
                  data: {
                    sip_trunks_target: "countrySelectInput",
                    selected_country: resource.country,
                    default_country: current_carrier.country_code
                  }
                },
                hint: "Set the default country code of the caller. Required if the caller's number is sent in national format instead of E.164"
              )
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Outbound Dialing</h5>

        <div class="row">
          <div class="col-sm-6" data-sip-trunks-target="ipAddressAuthenticationSection">
            <%= f.input :host, placeholder: "sip.example.com:5061", hint: "Can be either an IP Address or FQDN" %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <%= f.input(
              :route_prefixes,
              as: :text,
              placeholder: "#{resource.carrier.country.country_code}15, #{resource.carrier.country.country_code}16",
              hint: "An optional comma seperated list of route prefixes. Must include the country code."
            ) %>
          </div>

          <div class="col-sm-6">
            <%=
              f.input(
                :dial_string_prefix,
                as: :numeric,
                hint: "Numeric prefix applied to the beginning of the dial string"
              ) %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <%= f.input :default_sender_id,
                        collection: resource.default_sender_options_for_select,
                        hint: "The caller ID shown for outbound calls when there is otherwise no caller ID specified.",
                        include_blank: true,
                        input_html: {
                          data: {
                            behavior: "choices-input",
                            choices_options: {
                              removeItemButton: true
                            }
                          }
                        }
              %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <%= f.input :national_dialing, as: :boolean, wrapper: :custom_boolean_switch, hint: "Formats the dial string in national dialing format instead of E.164" %>
          </div>

          <div class="col-sm-6">
            <%= f.input :plus_prefix, as: :boolean, wrapper: :custom_boolean_switch, hint: "Prefixes the dial string with a plus (+)." %>
          </div>
        </div>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>
