<%= page_title(title: "SIP Trunk") do %>
  <% if policy(@resource).edit? %>
    <%= render("shared/edit_resource_page_action", path: edit_dashboard_sip_trunk_path(@resource)) %>
  <% end %>
    <% if policy(@resource).destroy? %>
    <%= render("shared/destroy_resource_page_action", path: dashboard_sip_trunk_path(@resource)) %>
  <% end %>
<% end %>

<div class="card-body">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">General</h5>

      <%= show_for(@resource) do |f| %>
        <%= f.attribute :name %>
        <%= f.attribute :authentication_mode, value: @resource.authentication_mode.humanize %>
        <%= f.attribute :max_channels do %>
          <%= @resource.max_channels.present? ? @resource.max_channels : "Unlimited" %>
        <% end %>

        <%= f.attribute :created_at, value: local_time(@resource.created_at) %>
        <%= f.attribute :updated_at, value: local_time(@resource.updated_at) %>
      <% end %>
    </div>
  </div>

  <% if @resource.authentication_mode.client_credentials? %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Client Credentials</h5>

        <%= show_for(@resource) do |f| %>
          <%= f.attribute :username do %>
            <code>
              <%= @resource.username %>
            </code>
          <% end %>
          <%= f.attribute :password do %>
            <%= mask_content(@resource.password) %>
          <% end %>
          <%= f.attribute :domain do %>
            <code>
              <%= AppSettings.config_for(:client_gateway_domain) %>
            </code>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Inbound Dialing</h5>

      <%= show_for(@resource) do |f| %>
        <% if @resource.authentication_mode.ip_address? %>
          <%= f.attribute :inbound_source_ip, label: "Source IP" %>
        <% end %>

        <% if @resource.inbound_country.present? %>
          <%= f.attribute :default_country_code do %>
            <%= "#{@resource.inbound_country.iso_short_name} (#{@resource.inbound_country.country_code})" %>
          <% end %>
        <% else %>
          <%= f.attribute :default_country_code, value: nil %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Outbound Dialing</h5>

      <%= show_for(@resource) do |f| %>
        <% if @resource.outbound_host.present? %>
          <%= f.attribute :outbound_host, label: "Host" %>
        <% end %>

        <% if @resource.outbound_route_prefixes.present? %>
          <%= f.attribute :outbound_route_prefixes, label: "Route prefixes" do %>
            <%= RoutePrefixesType.new.cast(@resource.outbound_route_prefixes) %>
          <% end %>
        <% else %>
          <%= f.attribute :outbound_route_prefixes, label: "Route prefixes" %>
        <% end %>

        <%= f.association(:sender_pool_phone_numbers, label: "Sender pool", collection_tag: :ul, collection_html: { class: "list-unstyled" }) do |phone_number| %>
          <% phone_number = phone_number.decorated %>
          <li>
            <%= external_link_to(phone_number.number_formatted, dashboard_phone_number_path(phone_number)) %>
          </li>
        <% end %>

        <%= f.attribute :outbound_example_dial_string, label: "Dial string format" do %>
          <code>
            <%= @resource.outbound_example_dial_string %>
          </code>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
