<%= page_title(title: "SIP Trunk") do %>
  <% if policy(@resource).edit? %>
    <%= render("shared/edit_resource_page_action", path: edit_dashboard_sip_trunk_path(@resource)) %>
  <% end %>
    <% if policy(@resource).destroy? %>
    <%= render("shared/destroy_resource_page_action", path: dashboard_sip_trunk_path(@resource)) %>
  <% end %>
<% end %>

<div class="card-body">
  <% sip_trunk = @resource.decorated %>
  <%= show_for(sip_trunk) do |f| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">General</h5>
        <%= f.attribute :name %>
        <%= f.attribute :authentication_mode, value: sip_trunk.authentication_mode.humanize %>
        <%= f.attribute :max_channels do %>
          <%= sip_trunk.max_channels.present? ? sip_trunk.max_channels : "Unlimited" %>
        <% end %>
        <%= f.attribute :region, value: sip_trunk.region.human_name %>
        <%= f.attribute :region_ip_address, value: sip_trunk.region.nat_ip %>
        <%= f.attribute :created_at, value: local_time(sip_trunk.created_at) %>
        <%= f.attribute :updated_at, value: local_time(sip_trunk.updated_at) %>
      </div>
    </div>

    <% if @resource.authentication_mode.client_credentials? %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Client Credentials</h5>

          <%= f.attribute :username do %>
            <code>
              <%= sip_trunk.username %>
            </code>
          <% end %>
          <%= f.attribute :password do %>
            <%= mask_content(sip_trunk.password) %>
          <% end %>
          <%= f.attribute :domain do %>
            <code>
              <%= AppSettings.fetch(:client_gateway_domain) %>
            </code>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Inbound Dialing</h5>

        <% if sip_trunk.authentication_mode.ip_address? %>
          <%= f.attribute :inbound_source_ips_formatted, label: "Source IP addresses" %>
        <% end %>

        <% if sip_trunk.inbound_country.present? %>
          <%= f.attribute :default_country_code do %>
            <%= "#{sip_trunk.inbound_country.iso_short_name} (#{sip_trunk.inbound_country.country_code})" %>
          <% end %>
        <% else %>
          <%= f.attribute :default_country_code, value: nil %>
        <% end %>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Outbound Dialing</h5>

        <% if sip_trunk.outbound_host.present? %>
          <%= f.attribute :outbound_host, label: "Host" %>
        <% end %>

        <%= f.attribute :outbound_route_prefixes, label: "Route prefixes", value: sip_trunk.outbound_route_prefixes_formatted %>
        <%= f.attribute :default_sender, value: sip_trunk.default_sender_formatted %>
        <%= f.attribute :outbound_example_dial_string, label: "Dial string format" do %>
          <code>
            <%= sip_trunk.outbound_example_dial_string %>
          </code>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
