<div class="card-body">
  <%= simple_form_for([:dashboard, resource], wrapper: :input_group, html: { data: { controller: "tariff-bundle-form" } }) do |f| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">
          General
        </h5>

        <div class="row">
          <div class="col-sm-6">
            <%= f.input(
              :name,
              placeholder: "Standard"
            ) %>
          </div>

          <div class="col-sm-6">
            <%= f.input(:description, as: :text) %>
          </div>
        </div>
      </div>
    </div>

    <%= render(
      "shared/tariff_package_line_items_form",
      form: f,
      collection: f.object.line_items,
      collection_method: :line_items
    ) %>

    <%= f.button :submit %>
  <% end %>
</div>
