<table class="table table-bordered table-striped">
  <thead>
    <tr role="row">
      <th>
        Name
      </th>
      <th>
        Device type
      </th>
      <th>
        Channel groups
      </th>
      <th>
        Connection status
      </th>
      <th>
        Created at
      </th>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |sms_gateway| %>
      <tr role="row" class="<%= cycle("odd", "even", name: "row_class") -%>">

        <td>
          <%= link_to(sms_gateway.name, polymorphic_path([:dashboard, sms_gateway])) %>
        </td>

        <td>
          <%= sms_gateway.device_type.text %>
        </td>

        <td>
          <%= link_to(sms_gateway.channel_groups.size, dashboard_sms_gateway_channel_groups_path(filter: { sms_gateway_id: sms_gateway.id })) %>
        </td>

        <td>
          <%= connection_status(sms_gateway) %>
        </td>

        <td>
          <%= local_time(sms_gateway.created_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
