<div class="card-body">
  <%= simple_form_for([:dashboard, resource]) do |f| %>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :name, maxlength: 128, hint: "A friendly name for the SMS Gateway" %>
      </div>

      <div class="col-sm-6">
        <%= f.input :max_channels, as: :integer,  hint: "The maximum number of channels your SMS gateway supports. Leave it blank for unlimited channels." %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :default_sender_id,
                    collection: resource.default_sender_options_for_select,
                    hint: "The caller ID shown for outbound messages when there is otherwise no caller ID specified.",
                    include_blank: true,
                    input_html: {
                      data: {
                        behavior: "choices-input",
                        choices_options: {
                          removeItemButton: true
                        }
                      }
                    }
          %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>
