<div class="card-body">
  <%= simple_form_for([:dashboard, resource]) do |f| %>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :name, maxlength: 128, hint: "A friendly name for the SMS Gateway" %>
      </div>

      <div class="col-sm-6">
        <%= f.input :device_type, as: :radio_buttons, item_wrapper_class: "form-check form-check-inline"  %>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :max_channels, as: :integer,  hint: "The maximum number of channels your SMS gateway supports. Leave it blank for unlimited channels." %>
      </div>

      <div class="col-sm-6">
        <%= f.input(
            :default_sender,
            hint: "The caller ID shown for outbound calls when there is otherwise no caller ID specified. Must be a phone number in E.164 format or shortcode. e.g. +1 (234) 234-5678 or 732873"
          )
        %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>
