<%= page_title(title: "SMS Gateway") do %>
  <% if policy(@resource).edit? %>
    <%= render("shared/edit_resource_page_action", path: edit_dashboard_sms_gateway_path(@resource)) %>
  <% end %>

  <% if policy(@resource).destroy? %>
    <%= render("shared/destroy_resource_page_action", path: dashboard_sms_gateway_path(@resource)) %>
  <% end %>
<% end %>

<div class="card-body">
  <%= show_for(@resource) do |f| %>
    <% sms_gateway = @resource.decorated %>

    <%= f.attribute :name %>
    <%= f.attribute :device_type, value: @resource.device_type.text %>
    <%= f.attribute :device_token do %>
      <%= mask_content(@resource.device_token) %>
    <% end %>

    <%= f.attribute :connection_status do %>
      <%= connection_status(@resource) %>
    <% end %>

    <%= f.attribute :channel_groups do %>
      <%= external_link_to("Manage (#{@resource.channel_groups.count})", dashboard_sms_gateway_channel_groups_path(filter: { sms_gateway_id: @resource.id })) %>
    <% end %>

    <%= f.attribute :channels, value: @resource.configured_channel_slots.join(", ")  %>
    <%= f.attribute :default_sender, value: sms_gateway.default_sender_formatted %>

    <%= f.attribute :created_at, value: local_time(@resource.created_at) %>
    <%= f.attribute :updated_at, value: local_time(@resource.updated_at) %>
  <% end %>
</div>
