<%= page_title(title: "Tariffs") do %>
  <%= render("shared/filters") do |form| %>
    <%= form.text_field_tag(:name, params.dig(:filter, :name)) %>
    <%= form.select :type, Tariff.category.values.map { |t| [t.text, t] }, { filter_value: params.dig(:filter, :category) } %>
    <%= form.date_range title: "Created at", filter_value: [params.dig(:filter, :from_date), params.dig(:filter, :to_date)] %>
  <% end %>

  <% if policy(:tariff).new? %>
    <%= render("shared/new_resource_page_action", path: new_dashboard_tariff_path) %>
  <% end %>
<% end %>

<div class="card-body">
  <%= render "collection", resources: @resources %>

  <%= render "shared/pagination", resources: @resources %>
</div>
