<% content_for(:page_title) do %>
  Change your password
<% end %>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, data: { turbo: false } }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <%= f.input :password,
              label: "New password",
              required: true,
              autofocus: true,
              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
              input_html: { autocomplete: "new-password" } %>

  <%= f.input :password_confirmation,
              label: "Confirm your new password",
              required: true,
              input_html: { autocomplete: "new-password" } %>

  <%= f.button :submit, "Change my password" %>
<% end %>

<div class="row mt-3">
  <div class="col-12">
    <%= render "devise/shared/links" %>
  </div>
</div>
