    <li id="accountSwitcher" class="c-header-nav-item dropdown">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_organization.present? %>
            <% if current_organization.carrier? %>
              <i class="fas fa-broadcast-tower mfe-2"></i>
            <% else %>
              <i class="fas fa-cloud mfe-2"></i>
            <% end %>
          <% end %>

          <%= current_organization.name %>
        </button>
        <div class="dropdown-menu">
          <% if current_user.carrier.present? && current_organization.account? %>
            <%= link_to(dashboard_account_session_path, method: :delete, class: "dropdown-item") do %>
              <i class="fas fa-broadcast-tower mfe-2"></i> <%= current_user.carrier.name %>
            <% end %>

            <div class="dropdown-divider"></div>
          <% end %>

          <% account_memberships = (current_user.account_memberships.includes(:account) - [current_account_membership]) %>

          <% if account_memberships.any? %>
            <div class="dropdown-header bg-light py-2">
              <strong>My Accounts</strong>
            </div>

            <% account_memberships.each do |account_membership| %>
              <%= link_to(dashboard_account_session_path(account_membership: { id: account_membership.id }), method: :post, class: "dropdown-item") do %>
                <i class="fas fa-cloud mfe-2"></i> <%= account_membership.account.name %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>
