<button type="button" class="btn btn-outline-primary" title="Import" data-bs-toggle="modal" data-bs-target="#importModal">
  <i class="fa-solid fa-file-upload"></i>
</button>

<%= simple_form_for [:dashboard, Import.new(resource_type:)], html: { class: "d-inline-block" } do |f| %>
  <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="importModalLabel">Import <%= resource_type.model_name.human.pluralize %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= f.input :resource_type, as: :hidden %>
          <%= f.input :file, input_html: { accept: "text/csv", direct_upload: true }, hint: link_to("Sample CSV file", asset_url("phone_number_import_template.csv"), download: "phone_number_import.csv") %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.button :submit, "Upload" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
