<%= page_title(title: "Destination Group") do %>
  <% if policy(@resource).edit? %>
    <%= render("shared/edit_resource_page_action", path: edit_dashboard_destination_group_path(@resource)) %>
  <% end %>

  <% if policy(@resource).destroy? %>
    <%= render("shared/destroy_resource_page_action", path: dashboard_destination_group_path(@resource)) %>
  <% end %>
<% end %>

<div class="card-body">
  <%= show_for(@resource.decorated) do |f| %>
    <%= f.attribute :id, label: "SID" do %>
      <code>
        <%= f.object.id %>
      </code>
    <% end %>

    <%= f.attribute :name %>
    <%= f.attribute :prefixes do %>
      <%= summarize_list(f.object.prefixes, max: 3) %>
    <% end %>
    <%= f.attribute :schedules do %>
      <%= summarize_list(
        DecoratedCollection.new(
          f.object.tariff_schedules,
        ).map { link_to(_1.name, dashboard_tariff_schedule_path(_1)) },
        max: 1,
        link_to_remaining: dashboard_tariff_schedules_path(filter: { destination_group_id: f.object.id })
      ) %>
    <% end %>
    <%= f.attribute :created_at, value: local_time(@resource.created_at) %>
    <%= f.attribute :updated_at, value: local_time(@resource.updated_at) %>
  <% end %>
</div>
