<div class="card-body">
  <%= simple_form_for(resource, url: dashboard_tariff_package_wizard_path, wrapper: :input_group) do |f| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">
          General
        </h5>

        <div class="row">
          <div class="col-sm-6">
            <%= f.input(:name, placeholder: "Standard") %>
          </div>

          <div class="col-sm-6">
            <%= f.input(:description, as: :text) %>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">
          Tariffs
        </h5>

        <% line_item_index = 0 %>
        <% group_collection_by(f.object.tariffs) { _1.category.type }.each do |(category_type, line_items)| %>
          <div class="row">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">
                  <%= category_type.humanize %>
                </h5>

                <div class="row">
                  <% line_items.each do |line_item| %>
                    <%= f.simple_fields_for(:tariffs, line_item, index: line_item_index) do |tariff_form| %>
                      <div class="col">
                        <div class="card mb-2 <%= "#{line_item.category.dasherize}" %>" data-controller="tariff-package-wizard">
                          <div class="card-body">
                            <h6 class="card-title">
                              <% if line_item.category.direction.inbound? %>
                                <i class="fa-solid fa-arrow-left"></i>
                              <% elsif line_item.category.direction.outbound? %>
                                <i class="fa-solid fa-arrow-right"></i>
                              <% end %>
                              <%= line_item.category.direction.to_s.humanize %>
                            </h6>

                            <div class="row">
                              <div class="col-sm-3">
                                <%= tariff_form.input(
                                  :enabled,
                                  as: :boolean,
                                  wrapper: :custom_boolean_switch,
                                  input_html: {
                                    data: {
                                      tariff_package_wizard_target: "enabledInput",
                                      action: "tariff-package-wizard#toggleEnabled"
                                    }
                                  }
                                ) %>
                              </div>

                              <div class="col-sm-9">
                                <%= tariff_form.input(
                                  :rate,
                                  label: "Rate (#{tariff_form.object.billing_currency.iso_code})",
                                  as: :numeric,
                                  required: true,
                                  append: tariff_form.object.rate_unit,
                                  hint: tariff_form.object.hint,
                                  input_html: {
                                    min: 0, step: 0.0001,
                                    data: {
                                      tariff_package_wizard_target: "rateInput"
                                    }
                                  }
                                ) %>

                                <%= tariff_form.input(:category, as: :hidden) %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                    <% line_item_index += 1 %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= f.button :submit %>
    <%= link_to_cancel %>
  <% end %>
</div>
