<div class="card-body">
  <%= simple_form_for([ :dashboard, resource ], url: (dashboard_tariff_schedules_path(filter_params) if @resource.new_record?), wrapper: :input_group, html: { data: { controller: "tariff-schedule-form" } }) do |f| %>
    <div class="row">
      <% if f.object.new_record? %>
        <div class="col-sm-6">
          <%= f.input(
            :category,
            prompt: true,
            input_html: {
              data: {
                tariff_schedule_form_target: "categoryInput",
                action: "change->tariff-schedule-form#toggleCategory"
              }
            }
          ) %>
        </div>
      <% end %>

      <div class="col-sm-6">
        <%= f.input(
          :name,
          prepend: f.object.category&.text,
          input_html: {
            data: { prepend_data: { tariff_schedule_form_target: "nameInputGroupText" } }
          }
        ) %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input(:description, as: :text) %>
      </div>
    </div>

    <%= f.button :submit %>
    <%= link_to_cancel %>
  <% end %>
</div>
