<%= page_title(title: "Tariff Schedules") do %>
  <%= render("shared/filters") do |form| %>
    <%= form.select(
      :category,
      TariffSchedule.category.values.map { |category| [ category.text, category ] },
      { filter_value: params.dig(:filter, :category) }
    ) %>

    <%= form.select(
      :tariff_package_id,
      current_carrier.tariff_packages.map do |tariff_package|
        tariff_package = TariffPackageDecorator.new(tariff_package)
        [tariff_package.name, tariff_package.id]
      end,
      { filter_value: params.dig(:filter, :tariff_package_id) },
      { data: { controller: "enhanced-select" }}
    ) %>

    <%= form.text_field_tag(:name, params.dig(:filter, :name)) %>
    <%= form.date_range title: "Created at", filter_value: [params.dig(:filter, :from_date), params.dig(:filter, :to_date)] %>
  <% end %>

  <% if policy(:tariff_schedule).new? %>
    <%= render("shared/new_resource_page_action", path: new_dashboard_tariff_schedule_path(filter_params)) %>
  <% end %>
<% end %>

<div class="card-body">
  <%= render "collection", resources: @resources %>

  <%= render "shared/pagination", resources: @resources %>
</div>
