<%= page_title(title: "Phone Number Plans") do %>
  <%= render("shared/filters") do |form| %>
    <%= form.select(
        :status,
        PhoneNumberPlan.status.values.map { |t| [t.text, t] },
        { filter_value: params.dig(:filter, :status) }
      )
    %>

    <%= form.select(
        :account_id,
        current_carrier.accounts.map { |account| [account.name, account.id] },
        { filter_value: params.dig(:filter, :account_id) },
        { data: { controller: "choices" }}
      )
    %>

    <%= form.text_field_tag(:number, params.dig(:filter, :number)) %>
    <%= form.date_range title: "Created At", filter_value: [params.dig(:filter, :from_date), params.dig(:filter, :to_date)] %>
  <% end %>

  <%= render("shared/export_action", export_params: { resource_type: "PhoneNumberPlan" }) %>
<% end %>

<div class="card-body">
  <%= render "collection", resources: @resources %>

  <%= render "shared/pagination", resources: @resources %>
</div>
