<% plan = @resource.decorated %>

<%= page_title(title: "Phone Number Plan") %>

<div class="card-body">

  <%= show_for(plan) do |f| %>
    <%= f.attribute :id, label: "SID" do %>
      <code>
        <%= plan.id %>
      </code>
    <% end %>

    <%= f.attribute :status do %>
      <%= status_badge(plan.status.text, color: plan.status_color) %>
    <% end %>

    <%= f.attribute :amount, label: "Monthly amount", value: plan.amount.format %>

    <%= f.association :incoming_phone_number, label: "Phone number SID" do |incoming_phone_number| %>
      <%= external_link_to(incoming_phone_number.id, dashboard_incoming_phone_number_path(incoming_phone_number)) %>
    <% end %>

    <%= f.attribute :account do %>
      <%= external_link_to(plan.account.name, dashboard_account_path(plan.account)) %>
    <% end %>

    <%= f.attribute :created_at, value: local_time(plan.created_at) %>
    <%= f.attribute :canceled_at, value: local_time(plan.canceled_at) %>
  <% end %>
</div>
