<% content_for(:title) do %>
  Statistics
<% end %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
     Statistics for <%= @dashboard.filter %>
  </h1>

  <div style="float: right;" id="filters">
    <small>
      <% StatisticDashboard::FILTERS.first(10).each do |filter| %>
        <%= link_to(filter.name, url_for(action: :index, search: filter.name) )%>
      <% end %>
    </small>
  </div>
</header>

<section class="main-content__body main-content__body--flush">
  <p>
    <dl>
      <dt class="attribute-label">Interactions:</dt>
      <dd class="attribute-data attribute-data--string"><%= number_to_human(@dashboard.interactions_count, units: { thousand: "K", million: "M", billion: "B" }) %></dd>

      <dt class="attribute-label">Beneficiaries:</dt>
      <dd class="attribute-data attribute-data--string"><%= number_to_human(@dashboard.beneficiaries_count, units: { thousand: "K", million: "M", billion: "B" }) %></dd>

      <dt class="attribute-label">Beneficiary Countries:</dt>
      <dd class="attribute-data attribute-data--string"><%= number_to_human(@dashboard.beneficiary_countries_count) %></dd>

      <dt class="attribute-label">Beneficiary Countries:</dt>
      <dd class="attribute-data attribute-data--string"><%= @dashboard.beneficiary_country_names.join(", ") %></dd>

      <dt class="attribute-label">Carriers:</dt>
      <dd class="attribute-data attribute-data--string"><%= number_to_human(@dashboard.carriers_count, units: { thousand: "K", million: "M", billion: "B" }) %></dd>

      <dt class="attribute-label">Carrier Countries:</dt>
      <dd class="attribute-data attribute-data--string"><%= number_to_human(@dashboard.carrier_countries_count) %></dd>

      <dt class="attribute-label">Carrier Countries:</dt>
      <dd class="attribute-data attribute-data--string"><%= @dashboard.carrier_country_names.join(", ") %></dd>

      <dt class="attribute-label">Accounts:</dt>
      <dd class="attribute-data attribute-data--string"><%= number_to_human(@dashboard.accounts_count, units: { thousand: "K", million: "M", billion: "B" }) %></dd>

      <dt class="attribute-label">Phone Calls:</dt>
      <dd class="attribute-data attribute-data--string"><%= number_to_human(@dashboard.phone_calls_count, units: { thousand: "K", million: "M", billion: "B" }) %></dd>

      <dt class="attribute-label">Bill Minutes:</dt>
      <dd class="attribute-data attribute-data--string"><%= number_to_human(@dashboard.bill_minutes, units: { thousand: "K", million: "M", billion: "B" }) %></dd>
    </dl>
  </p>
</div>
