<div class="card-body">
  <%= simple_form_for([:dashboard, resource]) do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :name, maxlength: 128, disabled: local_assigns.fetch(:disable_name_input, false) %>
      </div>

      <div class="col-sm-6">
        <%= f.input :email, disabled: local_assigns.fetch(:disable_email_input, false) %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :role, hint: "Owners have full access. Admins can manage all resources except users. Members have read-only access." %>
      </div>
    </div>

    <%= f.button :submit, button_text %>
  <% end %>
</div>
