<%= page_title(title: "Users") do %>
  <%= render("shared/filters") do |form| %>
    <%= form.date_range title: "Created At", filter_value: [params.dig(:filter, :from_date), params.dig(:filter, :to_date)] %>
  <% end %>
  <% if policy(:user).new? %>
    <%= render("shared/new_resource_page_action", path: new_dashboard_user_path ) %>
  <% end %>
<% end %>

<div class="card-body">
  <%= render "collection", resources: @resources %>

  <%= render "shared/pagination", resources: @resources %>
</div>
