<%= page_title(title: "Account Settings") do %>
  <% if AccountSettingsPolicy.new(pundit_user, @resource).edit? %>
    <%= render("shared/edit_resource_page_action", path: edit_dashboard_account_settings_path) %>
  <% end %>
<% end %>

<div class="card-body" id="accountSettings">
  <%= show_for(@resource) do |f| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">General</h5>

        <%= f.attribute :name, value: @resource.name %>
        <%= f.attribute :id, label: "SID" do %>
          <code>
            <%= @resource.id %>
          </code>
        <% end %>
        <%= f.attribute :auth_token, label: "Auth Token", value: mask_content(@resource.auth_token) %>
        <%= f.attribute :status, value: @resource.status.humanize %>
        <%= f.attribute :created_at, value: local_time(@resource.created_at) %>
        <%= f.attribute :updated_at, value: local_time(@resource.updated_at) %>
      </div>
    </div>

    <% if @resource.billing_enabled? %>
      <div id="billing" class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Billing</h5>

          <%= f.attribute :balance, value: GetAccountBalance.call(@resource).format %>
        </div>
      </div>
    <% end %>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Text to speech</h5>

        <%= f.attribute :voice, value: @resource.default_tts_voice %>
      </div>
    </div>
  <% end %>
</div>
