<%= page_title(title: "Edit Carrier Settings") %>

<div class="card-body">
  <%= simple_form_for(@resource, url: dashboard_carrier_settings_path, wrapper: :input_group) do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :name, maxlength: 128, hint: "Your company's name" %>
      </div>

      <div class="col-sm-6">
        <%= f.input :country %>
      </div>
    </div>

    <% unless @resource.webhooks_disabled? %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.input :webhook_url, hint: "Must start with https" %>
        </div>
      </div>
    <% end %>

    <% if @resource.webhook_configured? %>
      <%= f.input :enable_webhooks, as: :boolean, wrapper: :custom_boolean_switch %>
    <% end %>

    <%= f.input :logo, as: :file, input_html: { accept: "image/png, image/jpeg, image/jpg", direct_upload: true }, hint: "Square Logo. Max size 5MB" %>

    <%= f.button :submit %>
  <% end %>
</div>

