<%= page_title(title: "Edit Carrier Settings") %>

<%= simple_form_for(@resource, url: dashboard_carrier_settings_path, wrapper: :input_group) do |f| %>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :name, maxlength: 128, hint: "Your company's name" %>
      </div>

      <div class="col-sm-6">
        <%= f.input :country %>
      </div>
    </div>

    <% unless @resource.webhooks_disabled? %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.input :webhook_url, hint: "Must start with https" %>
        </div>
      </div>
    <% end %>

    <% if @resource.webhook_configured? %>
      <%= f.input :enable_webhooks, as: :boolean, wrapper: :custom_boolean_switch %>
    <% end %>

    <%= f.input :logo, as: :file, input_html: { accept: "image/png, image/jpeg, image/jpg", direct_upload: true }, hint: "Square Logo. Max size 5MB" %>

    <h4>Custom Domain Settings</h4>

    <% host_placeholder = URI.parse(current_carrier.website || "https://example.com").host %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :custom_dashboard_host, placeholder: "dashboard.#{host_placeholder}" %>
      </div>

      <div class="col-sm-6">
        <%= f.input :custom_api_host, placeholder: "api.#{host_placeholder}" %>
      </div>
    </div>

    <%= f.button :submit %>
  </div>
<% end %>
