<%= page_title(title: "Edit Carrier Settings") %>

<div class="card-body">
  <%= simple_form_for(@resource, url: dashboard_carrier_settings_path, wrapper: :input_group) do |f| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">General</h5>

        <div class="row">
          <div class="col-sm">
            <%= f.input :name, maxlength: 128, hint: "Your company's name" %>
          </div>

          <div class="col-sm">
            <%= f.input :website, hint: "Must start with http or https" %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <%= f.input :logo, as: :file, input_html: { accept: "image/png, image/jpeg, image/jpg", direct_upload: true }, hint: "Square Logo. Max size 5MB" %>
          </div>

          <div class="col-sm">
            <%= f.input :favicon, as: :file, input_html: { accept: "image/png, image/jpeg, image/jpg, image/gif, image/svg+xml, image/x-icon, image/webp", direct_upload: true }, hint: "Square icon. Recommended size: 32x32px " %>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <%= f.input :country %>
          </div>

          <div class="col-6">
            <%=
              f.input(
                :billing_currency,
                collection: @resource.available_currencies.map {|currency| [currency.name, currency.iso_code] },
                include_blank: false,
                input_html: {
                  data: {
                    controller: "enhanced-select",
                    enhanced_select_options: {
                      position: "bottom"
                    }
                  }
                }
              )
            %>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <% tariff_packages = f.object.tariff_packages_options_for_select %>
            <% prompt = select_prompt_with_link_to(
              "Configure a new one.",
              new_dashboard_tariff_package_path,
              target: "_blank",
              prompt_text: tariff_packages.present? ? "Please select or" : "No tariff packages.",
            ) %>

            <%= f.input(
              :default_tariff_package_id,
              collection: tariff_packages,
              prompt:,
              input_html: {
                data: {
                  controller: "enhanced-select",
                  enhanced_select_options: {
                    removeItemButton: true
                  },
                }
              }
            ) %>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">
          Custom Domain
          <%= link_to(docs_path(anchor: "custom_domains"), target: "_blank") do %>
            <i class="fa-solid fa-question-circle fa-sm"></i>
          <% end %>
        </h5>

        <div class="row">
          <div class="col-sm-6">
            <%=
              f.input(
                :custom_app_host,
                label: "Dashboard host",
                maxlength: 128,
                placeholder: "dashboard.example.com",
                hint: "Optionally specify a custom host which is used to access the dashboard."
              )
            %>
          </div>

          <div class="col-sm-6">
            <%=
              f.input(
                :custom_api_host,
                label: "API host",
                maxlength: 128,
                placeholder: "api.example.com",
                hint: "Optionally specify a custom host which is used to access the API."
              )
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Developers</h5>

        <% if @resource.webhook_configured? %>
          <%= f.input :enable_webhooks, as: :boolean, wrapper: :custom_boolean_switch %>
        <% end %>

        <% unless @resource.webhooks_disabled? %>
          <div class="row">
            <div class="col-sm-6">
              <%= f.input :webhook_url, hint: "Must start with https" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card border-danger mb-3">
      <div class="card-body">
        <h5 class="card-title">Danger Zone</h5>
        <div class="row">
          <div class="col-sm-6">
            <%=
              f.input(
                :subdomain,
                maxlength: 128,
                hint: "Updating your subdomain will affect other signed in users. If you have a custom domain setup you'll also need to update your DNS settings.",
                append: ".#{AppSettings.app_uri.host}"
              )
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= f.button :submit %>
        <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
      </div>
    </div>
  <% end %>
</div>
