<%= page_title(title: "Carrier Settings") do %>
  <% if CarrierSettingsPolicy.new(pundit_user, @resource).edit? %>
    <%= render("shared/edit_resource_page_action", path: edit_dashboard_carrier_settings_path) %>
  <% end %>
<% end %>

<div class="card-body">
  <%= show_for(@resource) do |f| %>
    <%= f.attribute :name, value: @resource.name %>
    <%= f.attribute :country do %>
      <%= @resource.country.emoji_flag %>
      <%= @resource.country.iso_short_name %>
    <% end %>
    <%= f.attribute :api_key, label: "API Key" do %>
      <%= mask_content(@resource.api_key) if @resource.api_key.present? %>
    <% end %>

    <% if @resource.webhooks_enabled? %>
      <%= f.attribute :webhook_url, label: "Webhook URL" do %>
        <code>
          <%= @resource.webhook_endpoint.url %>
        </code>
      <% end %>
    <% end %>

    <% if @resource.webhooks_enabled? %>
      <%= f.attribute :webhook_signing_secret do %>
        <%= mask_content(@resource.webhook_endpoint.signing_secret) %>
      <% end %>
    <% end %>

    <%= f.attribute :logo do %>
      <%= image_thumbnail(@resource.logo) %>
    <% end %>

    <%= f.attribute :custom_domain do %>
      <div id="custom-domain-configuration">
        <%= external_link_to("Configure", edit_dashboard_carrier_settings_custom_domain_path) %>
      </div>
    <% end %>

    <%= f.attribute :created_at, value: local_time(@resource.created_at) %>
    <%= f.attribute :updated_at, value: local_time(@resource.updated_at) %>
  <% end %>
</div>
