<%= page_title(title: "Carrier") do %>
  <% if CarrierSettingsPolicy.new(pundit_user, @resource).edit? %>
    <%= render("shared/edit_resource_page_action", path: edit_dashboard_carrier_settings_path) %>
  <% end %>
<% end %>

<div class="card-body">
  <%= show_for(@resource) do |f| %>
    <%= f.attribute :name, value: @resource.name %>
    <%= f.attribute :country do %>
      <%= @resource.country.emoji_flag %>
      <%= @resource.country.name %>
    <% end %>
    <%= f.attribute :logo do %>
      <%= image_thumbnail(@resource.logo) %>
    <% end %>
    <%= f.attribute :created_at, value: local_time(@resource.created_at) %>
    <%= f.attribute :updated_at, value: local_time(@resource.updated_at) %>
  <% end %>
</div>
