<h1>Login</h1>
<p class="text-muted">Sign In to your account</p>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" } %>
  <%= f.input :password, required: false, input_html: { autocomplete: "current-password" } %>
  <%= f.input :otp_attempt, label: "OTP Code", required: false, minlength: 6, maxlength: 6, input_html: { inputmode: "numeric" }, hint: "Leave blank if you have not yet setup 2FA" %>

  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

  <div class="row">
    <div class="col-6">
      <%= f.button :submit, "Login", class: "px-4" %>
    </div>
    <div class="col-6 text-right">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
