<% if params.key?(:after_sign_up) %>
  <% content_for(:flash) do %>
    <%= render("shared/alerts", notice: "A message with a confirmation link has been sent to your email address. Please follow the link to activate your account.") %>
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  Sign In
<% end %>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false } }) do |f| %>
  <%= f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" } %>
  <%= f.input :password, required: false, input_html: { autocomplete: "current-password" } %>
  <%= f.input(
      :otp_attempt,
      label: "OTP Code",
      required: false,
      minlength: 6, maxlength: 6,
      input_html: { inputmode: "numeric" },
      hint: "Leave blank if you have not yet setup 2FA. If you have already setup 2FA but no longer have access to the 2FA device, please contact the account owner."
    )
  %>

  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

  <%= render("shared/captcha", action: :sign_in) %>

  <div class="row">
    <div class="col-6">
      <%= f.button :submit, "Login", class: "px-4" %>
    </div>
    <div class="col-6 text-right">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
