<%= page_title(title: "Account Memberships") do %>
  <%= render("shared/filters") do |form| %>
    <% if current_organization.carrier? %>
      <%= form.select(
          :account_id,
          current_carrier.accounts.map { |account| [account.name, account.id] },
          { filter_value: params.dig(:filter, :account_id) }
        )
      %>
    <% end %>

    <%= form.date_range title: "Created At", filter_value: [params.dig(:filter, :from_date), params.dig(:filter, :to_date)] %>
  <% end %>
  <%= render("shared/export_action", export_params: { resource_type: "AccountMembership" }) %>
  <% if policy(:account_membership).new? %>
    <%= render("shared/new_resource_page_action", path: new_dashboard_account_membership_path) %>
  <% end %>
<% end %>

<div class="card-body">
  <%= render "collection", resources: @resources %>

  <%= render "shared/pagination", resources: @resources %>
</div>
