<table class="table table-bordered table-striped">
  <thead>
    <tr role="row">
      <th>
        Record Type
      </th>
      <th>
        Host
      </th>
      <th>
        Value
      </th>
      <th>
        Status
      </th>
    </tr>
  </thead>

  <tbody>
    <% custom_domains.each do |custom_domain| %>
      <tr role="row" class="<%= cycle("odd", "even", name: "row_class") -%>" id="<%= custom_domain.type %>-domain-settings">
        <td>
          <%= custom_domain.dns_record_type.upcase %>
        </td>

        <td>
          <%= external_link_to(custom_domain.record_name, "https://#{custom_domain.record_name}", target: "_blank") %>
        </td>

        <td>
          <code>
            <%= custom_domain.record_value %>
          </code>
        </td>

        <td>
          <% if custom_domain.verified? %>
            Verified <i class="fas fa-check-circle text-success" title="Verified at: <%= custom_domain.verified_at %>"></i>
          <% else %>
            Pending Verification <i class="fas fa-exclamation-circle text-warning"></i>
          <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
