<table class="table table-bordered table-striped">
  <thead>
    <tr role="row">
      <th>
        Record Type
      </th>
      <th>
        Host
      </th>
      <th>
        Value
      </th>
      <th>
        Status
      </th>
    </tr>
  </thead>

  <tbody>
    <% custom_domains.each do |custom_domain| %>
      <tr role="row" class="<%= cycle("odd", "even", name: "row_class") -%>" id="<%= custom_domain.type %>-domain-settings">
        <td>
          <%= custom_domain.dns_record_type.upcase %>
        </td>

        <td>
          <code>
            <% Array(custom_domain.record_name).each do |record_name| -%>
              <%= record_name %>
              <br/>
            <% end %>
          </code>
        </td>

        <td>
          <code>
            <% Array(custom_domain.record_value).each do |record_value| -%>
              <%= record_value %>
              <br/>
            <% end %>
          </code>
        </td>

        <td>
          <% if custom_domain.verified? %>
            <span class="text-success">Verified <i class="fas fa-check-circle" title="Verified at: <%= custom_domain.verified_at %>"></i></span>
          <% else %>
            <span class="text-warning">Pending Verification <i class="fas fa-exclamation-circle text-warning"></i></span>
          <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
