<%= page_title(title: "Custom Domain Settings") do %>
  <% if CustomDomainPolicy.new(pundit_user, current_carrier).edit? %>
    <%= render("shared/edit_resource_page_action", path: edit_dashboard_carrier_settings_custom_domain_path) %>
  <% end %>

  <% if CustomDomainPolicy.new(pundit_user, current_carrier).destroy? %>
    <%= render("shared/destroy_resource_page_action", path: dashboard_carrier_settings_custom_domain_path) %>
  <% end %>
<% end %>

<div class="card-body">
  <table class="table table-bordered table-striped">
    <thead>
      <tr role="row">
        <th>
          Type
        </th>
        <th>
          Host
        </th>
        <th>
          TXT Record
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>

    <tbody>
      <% @custom_domains.each do |custom_domain| %>
        <tr role="row" class="<%= cycle("odd", "even", name: "row_class") -%>" id="<%= custom_domain.type %>-domain-settings">
          <td>
            <%= custom_domain.type.humanize %>
          </td>

          <td>
            <%= external_link_to(custom_domain.host, "https://#{custom_domain.host}", target: "_blank") %>
          </td>

          <td>
            <code>
              <%= custom_domain.txt_record %>
            </code>
          </td>

          <td>
            <% if custom_domain.verified? %>
              Verified <i class="fas fa-check-circle"></i>
            <% else %>
              Pending Verification <i class="fas fa-exclamation-circle"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
