<%= page_title(title: "Messaging Service") do %>
  <% if policy(@resource).edit? %>
    <%= render("shared/edit_resource_page_action", path: edit_dashboard_messaging_service_path(@resource)) %>
  <% end %>

  <% if policy(@resource).destroy? %>
    <%= render("shared/destroy_resource_page_action", path: dashboard_messaging_service_path(@resource)) %>
  <% end %>
<% end %>

<div class="card-body">
  <%= show_for(@resource) do |f| %>
    <%= f.attribute :id, label: "SID" do %>
      <code>
        <%= @resource.id %>
      </code>
    <% end %>

    <%= f.attribute :name %>

    <% if policy(:account).show? %>
      <%= f.attribute :account, value: external_link_to(@resource.account.name, dashboard_account_path(@resource.account)) %>
    <% end %>

    <%= f.attribute :inbound_request_url %>
    <%= f.attribute :inbound_request_method %>
    <%= f.attribute :status_callback_url %>
    <%= f.attribute :smart_encoding %>
    <%= f.association(:phone_numbers, label: "Sender pool", collection_tag: :ul, collection_html: { class: "list-unstyled" }) do |phone_number| %>
      <li><%= link_to(phone_number.number, dashboard_phone_number_path(phone_number)) %></li>
    <% end %>
    <%= f.attribute :created_at, value: local_time(@resource.created_at) %>
    <%= f.attribute :updated_at, value: local_time(@resource.updated_at) %>
  <% end %>
</div>
