<table class="table table-bordered table-striped">
  <thead>
    <tr role="row">
      <th>
        SID
      </th>
      <% if policy(:account).show? %>
        <th>
          Account
        </th>
      <% end %>
      <th>
        Status
      </th>
      <th>
        Direction
      </th>
      <th>
        To
      </th>
      <th>
        From
      </th>
      <th>
        Duration
      </th>
      <th>
        Created At
      </th>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |phone_call| %>
      <% phone_call = PhoneCallDecorator.new(phone_call) %>
      <tr role="row" class="<%= cycle("odd", "even", name: "row_class") -%>">
        <td>
          <%= link_to(phone_call.id, dashboard_phone_call_path(phone_call)) %>
        </td>

        <% if policy(:account).show? %>
          <td>
            <%= external_link_to(phone_call.account.name, dashboard_account_path(phone_call.account_id)) %>
          </td>
        <% end %>

        <td>
          <%= phone_call.status.humanize %>
        </td>

        <td>
          <%= phone_call.direction.humanize %>
        </td>

        <td>
          <%= phone_call.to_formatted %>
        </td>

        <td>
          <%= phone_call.from_formatted %>
        </td>

        <td>
          <%= pluralize(phone_call.duration, "seconds") %>
        </td>

        <td>
          <%= local_time(phone_call.created_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
