<%= page_title(title: "Phone Calls") do %>
  <%= render("shared/filters") do |form| %>
    <% if policy(:account).show? %>
      <%= form.select(
          :account_id,
          current_carrier.accounts.map { |account| [account.name, account.id] },
          { filter_value: params.dig(:filter, :account_id) }
        )
      %>
    <% end %>

    <%= form.text_field_tag(:to, params.dig(:filter, :to)) %>
    <%= form.text_field_tag(:from, params.dig(:filter, :from)) %>
    <%= form.date_range title: "Created At", filter_value: [params.dig(:filter, :from_date), params.dig(:filter, :to_date)] %>
  <% end %>
  <%= render("shared/export_action", export_params: { resource_type: "PhoneCall" }) %>
<% end %>

<div class="card-body">
  <%= render "collection", resources: @resources %>

  <%= render "shared/pagination", resources: @resources %>
</div>
