<%= page_title(title: "Phone Call") %>

<div class="card-body">
  <% phone_call = @resource.decorated %>
  <%= show_for(phone_call) do |f| %>
    <%= f.attribute :id, label: "SID" do %>
      <code>
        <%= @resource.id %>
      </code>
    <% end %>

    <% if policy(:account).show? %>
      <%= f.attribute :account, value: external_link_to(phone_call.account.name, dashboard_account_path(phone_call.account)) %>
    <% end %>

    <%= f.association(:incoming_phone_number, label: "Phone number SID") do |incoming_phone_number| %>
      <%= external_link_to(incoming_phone_number.id, dashboard_incoming_phone_number_path(incoming_phone_number)) %>
    <% end %>

    <% if policy(:sip_trunk).show? %>
      <% if phone_call.sip_trunk.present? %>
        <%= f.attribute :sip_trunk, value: external_link_to(phone_call.sip_trunk.name, dashboard_sip_trunk_path(phone_call.sip_trunk)) %>
      <% end %>
    <% end %>

    <% if policy(:event).index? %>
      <%= f.attribute :events, value: external_link_to("View", dashboard_events_path(filter: { phone_call_id: phone_call.id }), title: "View events") %>
    <% end %>

    <% if policy(:tts_event).index? %>
      <%= f.attribute :tts_events, value: external_link_to("View", dashboard_tts_events_path(filter: { phone_call_id: phone_call.id }), title: "View TTS events") %>
    <% end %>

    <% if policy(:balance_transaction).show? %>
      <%= f.attribute(:balance_transaction) do %>
        <% if f.object.balance_transaction.present? %>
          <%= external_link_to(f.object.balance_transaction.id, dashboard_balance_transaction_path(f.object.balance_transaction)) %>
        <% end %>
      <% end %>
    <% end %>

    <%= f.attribute :from, value: phone_call.from_formatted %>
    <%= f.attribute :to, value: phone_call.to_formatted %>
    <%= f.attribute :status, value: phone_call.status.humanize %>
    <%= f.attribute :direction, value: phone_call.direction.humanize %>
    <%= f.attribute :duration, value: pluralize(phone_call.duration, "seconds") %>
    <%= f.attribute :price, value: phone_call.price_formatted(with_currency: true) %>
    <%= f.attribute :price_unit %>
    <%= f.attribute :voice_url %>
    <%= f.attribute :voice_method %>
    <% if phone_call.twiml.present? %>
      <%= f.attribute :twiml do %>
        <pre><code><%= pretty_print_xml(phone_call.twiml) %></code></pre>
      <% end %>
    <% end %>
    <%= f.attribute :status_callback_url %>
    <%= f.attribute :status_callback_method %>

    <% if phone_call.recordings.any? %>
      <dt class="col-sm-3">Recordings</dt>
      <dd><%= render "dashboard/recordings/collection", recordings: phone_call.recordings %></dd>
    <% end %>
    <%= f.attribute :created_at, value: local_time(@resource.created_at) %>
    <%= f.attribute :updated_at, value: local_time(@resource.updated_at) %>
  <% end %>
</div>
