<%= page_title(title: "Phone Call") %>

<div class="card-body">
  <% phone_call = PhoneCallDecorator.new(@resource) %>
  <%= show_for(phone_call) do |f| %>
    <%= f.attribute :id, label: "SID" do %>
      <code>
        <%= @resource.id %>
      </code>
    <% end %>

    <% if policy(:account).show? %>
      <%= f.attribute :account, value: external_link_to(phone_call.account.name, dashboard_account_path(phone_call.account)) %>
    <% end %>

    <% if policy(:phone_number).show? %>
      <% if phone_call.phone_number.present? %>
        <%= f.attribute :phone_number, value: external_link_to(phone_call.phone_number.number, dashboard_phone_number_path(phone_call.phone_number)) %>
      <% end %>
    <% end %>

    <% if policy(:outbound_sip_trunk).show? %>
      <% if phone_call.outbound_sip_trunk.present? %>
        <%= f.attribute :outbound_sip_trunk, value: external_link_to(phone_call.outbound_sip_trunk.name, dashboard_outbound_sip_trunk_path(phone_call.outbound_sip_trunk)) %>
      <% end %>
    <% end %>

    <% if policy(:inbound_sip_trunk).show? %>
      <% if phone_call.inbound_sip_trunk.present? %>
        <%= f.attribute :inbound_sip_trunk, value: external_link_to(phone_call.inbound_sip_trunk.name, dashboard_outbound_sip_trunk_path(phone_call.inbound_sip_trunk)) %>
      <% end %>
    <% end %>

    <%= f.attribute :from, value: phone_call.from_formatted %>
    <%= f.attribute :to, value: phone_call.to_formatted %>
    <%= f.attribute :status, value: phone_call.status.humanize %>
    <%= f.attribute :direction, value: phone_call.direction.humanize %>
    <%= f.attribute :duration, value: pluralize(phone_call.duration, "seconds") %>
    <%= f.attribute :voice_url %>
    <%= f.attribute :voice_method %>
    <% if phone_call.twiml.present? %>
      <%= f.attribute :twiml do %>
        <pre><code><%= pretty_print_xml(phone_call.twiml) %></code></pre>
      <% end %>
    <% end %>
    <%= f.attribute :status_callback_url %>
    <%= f.attribute :status_callback_method %>
    <%= f.attribute :created_at, value: local_time(@resource.created_at) %>
    <%= f.attribute :updated_at, value: local_time(@resource.updated_at) %>
  <% end %>
</div>
