<table class="table table-bordered table-striped">
  <thead>
    <tr role="row">
      <th>
        Phone Number
      </th>
      <% if policy(:account).show? %>
        <th>
          Account
        </th>
      <% end %>
      <th>
        Enabled
      </th>
      <th>
        Created At
      </th>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |phone_number| %>
      <% phone_number = phone_number.decorated %>
      <tr role="row" class="<%= cycle("odd", "even", name: "row_class") -%>">
        <td>
          <%= link_to(phone_number.number_formatted, dashboard_phone_number_path(phone_number)) %>
        </td>

        <% if policy(:account).show? %>
          <td>
            <% if phone_number.account.present? %>
              <%= external_link_to(phone_number.account.name, dashboard_account_path(phone_number.account)) %>
            <% else %>
              <%= t("show_for.blank") %>
            <% end %>
          </td>
        <% end %>

        <td>
          <%= phone_number.enabled? ? t("show_for.yes") : t("show_for.no") %>
        </td>

        <td>
          <%= local_time(phone_number.created_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
