<div class="card-body">
  <%= simple_form_for([:dashboard, resource], wrapper: :input_group) do |f| %>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">General</h5>

        <div class="row">
          <div class="col-sm-6">
            <%=
              f.input(
                :number,
                required: true,
                disabled: resource.persisted?,
                hint: resource.new_record? && "Phone number in E.164 format or shortcode. e.g. +1 (234) 234-5678 or 732873"
              ) %>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Properties</h5>

        <div class="row">
          <%=
            f.input(
              :visibility,
              as: :radio_buttons,
              required: true,
              wrapper: :vertical_collection_novalidate,
              collection: resource.visibility_options_for_select
            )
          %>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <%=
              f.input(
                :type,
                prompt: "Please Select",
                required: true,
                collection: PhoneNumber.type.values.map { |t| [t.text, t] }
              )
            %>
          </div>

          <div class="col-sm-6">
            <%=
              f.input(
                :country,
                only: resource.possible_countries,
                include_blank: false,
                prompt: "Automatically select from phone number"
              )
            %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <%= f.input(
              :region,
              hint: "The state or province abbreviation of this phone number's location."
            ) %>
          </div>

          <div class="col-sm-6">
            <%= f.input(
              :locality,
              hint: "The locality or city of this phone number's location."
            ) %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <%=
              f.input(
                :price,
                as: :decimal,
                prepend: resource.new_record? ? resource.carrier.billing_currency.symbol : resource.phone_number.currency.symbol,
                append: resource.new_record? ? resource.carrier.billing_currency.iso_code : resource.phone_number.currency.iso_code,
                hint: "The monthly amount to charge customers for this phone number"
              )
            %>
          </div>
        </div>

        <div class="accordion" id="more-properties-wrapper">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#more-properties" aria-expanded="true" aria-controls="more-properties">
                More
              </button>
            </h2>

            <div id="more-properties" class="accordion-collapse collapse" data-bs-parent="#more-properties-wrapper">
              <div class="accordion-body">
                <div class="row">
                  <div class="col-sm-6">
                    <%= f.input(
                      :lata,
                      hint: "Local access and transport area (<a href=\"https://en.wikipedia.org/wiki/Local_access_and_transport_area\" target=\"_blank\">LATA</a>). Applies to only phone numbers in the US and Canada.".html_safe
                    ) %>
                  </div>

                  <div class="col-sm-6">
                    <%= f.input(
                      :rate_center,
                      hint: "Name of the <a href=\"https://en.wikipedia.org/wiki/Rate_center\" target=\"_blank\">Rate center</a>. Applies to only phone numbers in the US and Canada.".html_safe
                    ) %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <%= f.input(
                      :latitude,
                      hint: "The latitude of this phone number's location. Applicable only for phone numbers from the US and Canada."
                    ) %>
                  </div>

                  <div class="col-sm-6">
                    <%= f.input(
                      :longitude,
                      hint: "The longitude of this phone number's location. Applicable only for phone numbers from the US and Canada."
                    ) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if resource.persisted? && resource.phone_number.available? %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Account</h5>

          <div class="row">
            <div class="col-sm-6">
              <%= f.input :account_id,
                collection: resource.account_options_for_select,
                hint: "Optionally assign the phone number to one of your managed accounts.",
                input_html: { data: { controller: "choices" } }
              %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= f.button :submit %>
  <% end %>
</div>
