<div class="card-body">
  <%= simple_form_for([:dashboard, resource]) do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <%=
          f.input(
            :number,
            as: :numeric,
            disabled: resource.persisted?,
            hint: "Phone number or shortcode"
          ) %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
          <%= f.input :account_id,
                      collection: resource.account_options_for_select,
                      hint: "Optionally assign the phone number to an account",
                      selected: resource.account_id,
                      disabled: resource.assigned?,
                      prompt: "",
                      input_html: { data: { behavior: "choices-input", "allow-clear" => true, placeholder: "Select an Account" } } %>
      </div>
    </div>

    <%= f.input :enabled, as: :boolean, wrapper: :custom_boolean_switch %>

    <%= f.button :submit %>
  <% end %>
</div>
