<%= page_title(title: "Phone Number Inventory") do %>
  <%= render("shared/filters") do |form| %>
    <%= form.country_select(
        :country,
        {
          only: current_carrier.phone_numbers.supported_countries.map(&:iso_country_code),
          filter_value: params.dig(:filter, :country)
        }
      )
    %>

    <%= form.select(
        :type,
        PhoneNumber.type.values.map { |t| [t.text, t] },
        { filter_value: params.dig(:filter, :type) }
      )
    %>

    <%= form.text_field_tag(:number, params.dig(:filter, :number)) %>

    <%= form.boolean_select(:enabled, { filter_value: params.dig(:filter, :enabled) }) %>
    <%= form.boolean_select(:assigned, { filter_value: params.dig(:filter, :assigned) }) %>
    <%= form.date_range title: "Created At", filter_value: [params.dig(:filter, :from_date), params.dig(:filter, :to_date)] %>
  <% end %>

  <% if policy(:phone_number).bulk_destroy? && params.dig(:filter, :assigned) == "false" && @filtered_resources.any? %>
    <%= render("shared/bulk_destroy_resource_page_action", path: bulk_destroy_dashboard_phone_numbers_path(filter: request.query_parameters["filter"]), total_records: @filtered_resources.count) %>
  <% end %>

  <%= render("shared/export_action", export_params: { resource_type: "PhoneNumber" }) %>

  <% if policy(:import).new? %>
    <%= render("shared/import_action", import_params: { resource_type: "PhoneNumber" }, title: "Import Phone Numbers" ) %>
  <% end %>
  <% if policy(:phone_number).new? %>
    <%= render("shared/new_resource_page_action", path: new_dashboard_phone_number_path) %>
  <% end %>
<% end %>

<div class="card-body">
  <%= render "collection", resources: @resources %>

  <%= render "shared/pagination", resources: @resources %>
</div>
