<%= page_title(title: "Phone Number") do %>
  <% phone_number_policy = PhoneNumberPolicy.new(pundit_user, @resource) %>
  <% phone_number_configuration_policy = PhoneNumberConfigurationPolicy.new(pundit_user, @resource) %>
  <% display_dropdown = current_user.carrier_user? && phone_number_configuration_policy.edit? %>

  <% if display_dropdown %>
    <div class="btn-group">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-menu-phone-number-actions" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-cog"></i>
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdown-menu-phone-number-actions">
        <%= link_to(
          edit_dashboard_phone_number_configuration_path(@resource),
          class: "dropdown-item"
        ) do %>
          <i class="fa-solid fa-tools mfe-2"></i> Configure
        <% end %>
      </div>
    </div>
  <% elsif phone_number_configuration_policy.edit? %>
    <%= render("shared/edit_resource_page_action", path: edit_dashboard_phone_number_configuration_path(@resource)) %>
  <% end %>

  <% if policy(@resource).edit? %>
    <%= render("shared/edit_resource_page_action", path: edit_dashboard_phone_number_path(@resource)) %>
  <% end %>

  <% if phone_number_policy.release? %>
    <%= link_to(release_dashboard_phone_number_path(@resource), method: :patch, class: "btn btn-warning", title: "Release", data: { confirm: "This action cannot be undone. Are you sure you want to release the number?" }) do %>
      <i class="fa-solid fa-unlink"></i>
    <% end %>
  <% end %>

  <% if policy(@resource).destroy? %>
    <%= render("shared/destroy_resource_page_action", path: dashboard_phone_number_path(@resource)) %>
  <% end %>
<% end %>

<div class="card-body">
  <%= show_for(@resource) do |f| %>
    <%= f.attribute :number %>

    <% if policy(:account).show? %>
      <% if @resource.account.present? %>
        <%= f.attribute :account, value: external_link_to(@resource.account.name, dashboard_account_path(@resource.account)) %>
      <% else %>
        <%= f.attribute :account %>
      <% end %>
    <% end %>

    <%= f.attribute :enabled %>
    <%= f.attribute :created_at, value: local_time(@resource.created_at) %>
    <%= f.attribute :updated_at, value: local_time(@resource.updated_at) %>
  <% end %>
</div>
