<%= page_title(title: "Phone Number") do %>
  <% if policy(@resource).edit? %>
    <%= render("shared/edit_resource_page_action", path: edit_dashboard_phone_number_path(@resource)) %>
  <% end %>

  <% if policy(@resource).destroy? && !@resource.assigned? %>
    <%= render("shared/destroy_resource_page_action", path: dashboard_phone_number_path(@resource)) %>
  <% end %>
<% end %>

<div class="card-body">
  <% phone_number = @resource.decorated %>

  <%= show_for(phone_number) do |f| %>
    <div id="general" class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">General</h5>

        <%= f.attribute :number, value: phone_number.number_formatted  %>
        <% if phone_number.metadata.present? %>
          <%= f.attribute :metadata do %>
            <pre><code><%= JSON.pretty_generate(@resource.metadata) %></code></pre>
          <% end %>
        <% else %>
          <%= f.attribute :metadata %>
        <% end %>
        <%= f.attribute :created_at, value: local_time(@resource.created_at) %>
        <%= f.attribute :updated_at, value: local_time(@resource.updated_at) %>
      </div>
    </div>

    <div id="billing" class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Billing</h5>
        <%= f.association :account, label: "Assigned to account" do |account| %>
          <%= external_link_to(account.name, dashboard_account_path(account)) %>
        <% end %>

        <%= f.association :active_plan do |active_plan| %>
          <%= external_link_to(active_plan.amount.format, dashboard_phone_number_plan_path(active_plan)) %>
        <% end %>

        <%= f.attribute :plans, label: "All Plans", value: external_link_to("View", dashboard_phone_number_plans_path(filter: { number: @resource.number.to_s }), title: "View all plans") %>
      </div>
    </div>

    <div id="properties" class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Properties</h5>

        <%= f.attribute :visibility, value: phone_number.visibility_formatted %>
        <%= f.attribute :type, value: phone_number.type_formatted %>

        <%= f.attribute :country do %>
          <%= @resource.country.emoji_flag %>
          <%= @resource.country.iso_short_name %>
        <% end %>

        <%= f.attribute :region, value: phone_number.region_name %>
        <%= f.attribute :locality %>
        <%= f.attribute :lata %>
        <%= f.attribute :rate_center %>

        <%= f.attribute :price, value: phone_number.price.format %>
      </div>
    </div>
  <% end %>
</div>
