<table class="table table-bordered table-striped">
  <thead>
    <tr role="row">
      <th>
        SID
      </th>
      <th>
        Tariff Schedule
      </th>
      <th>
        Diagram
      </th>
      <th>
        Created At
      </th>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |destination_tariff| %>
      <% destination_tariff = DestinationTariffDecorator.new(destination_tariff) %>
      <tr role="row" class="<%= cycle("odd", "even", name: "row_class") -%>">
        <td>
          <%= link_to(destination_tariff.id, dashboard_tariff_schedule_destination_tariff_path(destination_tariff.tariff_schedule, destination_tariff)) %>
        </td>

        <td>
          <%= link_to(destination_tariff.tariff_schedule_name, dashboard_tariff_schedule_path(destination_tariff.tariff_schedule_id)) %>
        </td>

        <td>
          <%= destination_tariff_diagram(destination_tariff) %>
        </td>

        <td>
          <%= local_time(destination_tariff.created_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
