<table class="table table-bordered table-striped">
  <thead>
    <tr role="row">
      <th>
        SID
      </th>
      <th>
        Tariff Schedule
      </th>
      <th>
        Category
      </th>
      <th>
        Tariff
      </th>
      <th>
        Destination Group
      </th>
      <th>
        Created At
      </th>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |destination_tariff| %>
      <tr role="row" class="<%= cycle("odd", "even", name: "row_class") -%>">
      <% destination_tariff = DestinationTariffDecorator.new(destination_tariff) %>
      <tr role="row" class="<%= cycle("odd", "even", name: "row_class") -%>">
        <td>
          <%= link_to(destination_tariff.id, dashboard_destination_tariff_path(destination_tariff)) %>
        </td>

        <td>
          <%= link_to(destination_tariff.tariff_schedule.name, dashboard_tariff_schedule_path(destination_tariff.tariff_schedule_id, destination_tariff)) %>
        </td>

        <td>
          <%= destination_tariff.category %>
        </td>

        <td>
          <%= link_to(destination_tariff.tariff_display_name, dashboard_tariff_path(destination_tariff.tariff_id)) %>
        </td>

        <td>
          <%= link_to(destination_tariff.destination_group_name, dashboard_destination_group_path(destination_tariff.destination_group_id)) %>
        </td>

        <td>
          <%= local_time(destination_tariff.created_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
