<table class="table table-bordered table-striped">
  <thead>
    <tr role="row">
      <th>
        SID
      </th>
      <th>
        Number
      </th>
      <th>
        Country
      </th>
      <th>
        Status
      </th>
      <% if policy(:account).show? %>
        <th>
          Account
        </th>
      <% end %>
      <th>
        Created At
      </th>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |incoming_phone_number| %>
      <% incoming_phone_number = incoming_phone_number.decorated %>
      <tr role="row" class="<%= cycle("odd", "even", name: "row_class") -%>">
        <td>
          <%= link_to(incoming_phone_number.id, dashboard_incoming_phone_number_path(incoming_phone_number)) %>
        </td>

        <td>
          <%= incoming_phone_number.number_formatted %>
        </td>

        <td>
          <%= incoming_phone_number.country&.emoji_flag %>
          <%= incoming_phone_number.country&.iso_short_name %>
        </td>

        <td>
          <%= status_badge(incoming_phone_number.status.text, color: incoming_phone_number.status_color) %>
        </td>

        <% if policy(:account).show? %>
          <td>
            <%= external_link_to(incoming_phone_number.account.name, dashboard_account_path(incoming_phone_number.account)) %>
          </td>
        <% end %>

        <td>
          <%= local_time(incoming_phone_number.created_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
