<table class="table table-bordered table-striped">
  <thead>
    <tr role="row">
      <th>
        Number
      </th>
      <th>
        Country
      </th>
      <th>
        Type
      </th>
      <th>
        Friendly Name
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |incoming_phone_number| %>
      <% incoming_phone_number = incoming_phone_number.decorated %>
      <tr role="row" class="<%= cycle("odd", "even", name: "row_class") -%>">
        <td>
          <%= link_to(incoming_phone_number.number_formatted, dashboard_incoming_phone_number_path(incoming_phone_number)) %>
        </td>

        <td>
          <%= incoming_phone_number.country&.emoji_flag %>
          <%= incoming_phone_number.country&.iso_short_name %>
        </td>

        <td>
          <%= incoming_phone_number.type_formatted %>
        </td>

        <td>
          <%= incoming_phone_number.friendly_name %>
        </td>

        <td>
          <%= external_link_to("Configure", edit_dashboard_incoming_phone_number_path(incoming_phone_number)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
