<%= page_title(title: "Configure #{@resource.incoming_phone_number.friendly_name}") %>

<div class="card-body">
  <%= simple_form_for([ :dashboard, @resource ]) do |f| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Properties</h5>
        <div class="row">
          <div class="col-sm-6">
            <%=
              f.input(
                :friendly_name,
                hint: "Avoid entering personal data like your name, email address, or phone number.",
                input_html: { maxlength: 64 }
              )
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Voice</h5>

        <div class="row">
          <div class="col-sm-6">
            <%= f.input :voice_url, hint: "URL which returns TwiML. Must start with http or https" %>
          </div>

          <div class="col-sm-6">
            <%= f.input :voice_method, collection: IncomingPhoneNumber.voice_method.values, include_blank: false %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <%= f.input :status_callback_url %>
          </div>

          <div class="col-sm-6">
            <%= f.input :status_callback_method, collection: IncomingPhoneNumber.status_callback_method.values, include_blank: false %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <%= f.input :sip_domain, hint: "Use to route the SIP traffic from the incoming calls to this endpoint" %>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Messaging</h5>

        <div class="row">
          <div class="col-sm-6">
              <%= f.input :messaging_service_id,
                          collection: @resource.messaging_service_options_for_select,
                          selected: @resource.messaging_service_id,
                          prompt: "Select a messaging service",
                          include_blank: true,
                          hint: "Optionally select a ".html_safe + link_to("Messaging service", dashboard_messaging_services_path),
                          input_html: { data: { controller: "choices" } } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <%= f.input :sms_url, hint: "URL which returns TwiML. Must start with http or https" %>
          </div>

          <div class="col-sm-6">
            <%= f.input :sms_method, collection: IncomingPhoneNumber.sms_method.values, include_blank: false %>
          </div>
        </div>
      </div>
    </div>

    <%= f.button :submit %>
    <%= link_to("Cancel", :back, class: "btn btn-secondary") %>
  <% end %>
</div>
