<%= page_title(title: "Active Numbers") do %>
  <%= render("shared/filters") do |form| %>
    <%= form.text_field_tag(:number, params.dig(:filter, :number)) %>
  <% end %>
<% end %>

<div class="card-body">
  <%= render "collection", resources: @resources %>

  <%= render "shared/pagination", resources: @resources %>
</div>
