<% incoming_phone_number = @resource.decorated %>

<%= page_title(title: incoming_phone_number.number_formatted) do %>
  <% if @resource.released? && policy(:available_phone_number).index? %>
    <%= link_to(dashboard_available_phone_numbers_path(filter: { number: incoming_phone_number.number } ), class: "btn btn-outline-success", title: local_assigns.fetch(:title, "Repurchase")) do %>
      <i class="fa-solid fa-tag"></i> Repurchase
    <% end %>
  <% end %>

  <% if policy(@resource).edit? %>
    <%= render("shared/edit_resource_page_action", title: "Configure", text: "Configure", path: edit_dashboard_incoming_phone_number_path(@resource)) %>
  <% end %>

  <% if policy(@resource).destroy? %>
    <%= render("shared/destroy_resource_page_action", title: "Release", text: "Release", path: dashboard_incoming_phone_number_path(@resource)) %>
  <% end %>
<% end %>

<div class="card-body">
  <%= show_for(incoming_phone_number) do |f| %>
    <div id="properties" class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Properties</h5>

        <%= f.attribute :id, label: "SID" do %>
          <code>
            <%= incoming_phone_number.id %>
          </code>
        <% end %>

        <%= f.attribute :status do %>
          <%= status_badge(incoming_phone_number.status.text, color: incoming_phone_number.status_color) %>
        <% end %>

        <%= f.attribute :number, value: incoming_phone_number.number_formatted %>
        <%= f.attribute :friendly_name %>
        <%= f.attribute :type, value: incoming_phone_number.type_formatted %>

        <% if incoming_phone_number.country.present? %>
          <%= f.attribute :country do %>
            <%= @resource.country.emoji_flag %>
            <%= @resource.country.iso_short_name %>
          <% end %>
        <% else %>
          <%= f.attribute :country %>
        <% end %>

        <% if policy(:phone_number).show? %>
          <%= f.association :phone_number, label: "Phone number" do |phone_number| %>
            <%= external_link_to("Manage", dashboard_phone_number_path(phone_number))%>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="billing" class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Billing</h5>

        <% if policy(:phone_number_plan).show? %>
          <%= f.association :phone_number_plan, label: "Plan" do |plan| %>
            <%= external_link_to("View", dashboard_phone_number_plan_path(incoming_phone_number.phone_number_plan))%>
          <% end %>
        <% end %>

        <%= f.association :phone_number_plan, label: "Monthly fee" do |plan| %>
          <%= plan.amount.format %>
        <% end %>

        <%= f.association :phone_number_plan, label: "Status" do |plan| %>
          <%= status_badge(plan.status.text, color: plan.status_color) %>
        <% end %>
      </div>
    </div>

    <div id="voice-configuration" class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Voice</h5>
        <%= f.attribute :voice_url %>
        <%= f.attribute :voice_method %>
        <%= f.attribute :status_callback_url %>
        <%= f.attribute :status_callback_method %>

        <% if policy(:phone_call).index? %>
          <%= f.attribute :phone_calls, value: external_link_to("View", dashboard_phone_calls_path(filter: { phone_number_id: incoming_phone_number.id }), title: "View phone calls") %>
        <% end %>
      </div>
    </div>

    <div id="messaging-configuration" class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Messaging</h5>
        <%= f.attribute :sms_url %>
        <%= f.attribute :sms_method %>
        <%= f.association :messaging_service do |messaging_service| %>
          <%= link_to(messaging_service.name, dashboard_messaging_service_path(messaging_service)) %>
        <% end %>

        <% if policy(:message).index? %>
          <%= f.attribute :messages, value: external_link_to("View", dashboard_messages_path(filter: { phone_number_id: incoming_phone_number.id }), title: "View messages") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
