<div class="card-body">
  <%= simple_form_for([:dashboard, resource], html: { data: { controller: "sms-gateway-channel-groups", sms_gateway_channel_groups_collection_value: resource.sms_gateways_options_for_select } }) do |f| %>
    <% form = SMSGatewayChannelGroupFormDecorator.new(f.object) %>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :name, maxlength: 128, hint: "A friendly name for the channel group" %>
      </div>

      <div class="col-sm-6">
        <%= f.input(
            :sms_gateway_id,
            required: true,
            collection: resource.sms_gateways_options_for_select,
            selected: resource.channel_group.sms_gateway_id || params.dig(:filter, :sms_gateway_id),
            prompt: "Please select",
            disabled: resource.persisted?,
            input_html: {
              data: {
                controller: "choices",
                sms_gateway_channel_groups_target: "smsGatewayInput",
                action: "addItem->sms-gateway-channel-groups#changeSMSGateway",
              }
            },
            hint: "The SMS gateway to associate this channel group with."
          )
        %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <%= f.input(
          :route_prefixes,
          as: :text,
          placeholder: "#{resource.carrier.country.country_code}15, #{resource.carrier.country.country_code}16",
          hint: "An optional comma separated list of route prefixes. Must include the country code.",
          input_html: { value: form.route_prefixes_formatted }
        ) %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <%= f.input(
          :channels,
          collection: resource.persisted? ? resource.channels_options_for_select : [],
          selected: resource.channels,
          input_html: {
            multiple: true,
            data: {
              choices_options: {
                removeItemButton: true
              },
              sms_gateway_channel_groups_target: "channelsInput"
            }
          },
          hint: "A list of channels to apply to this channel group"
        ) %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>
