<%= page_title(title: "Events") do %>
  <%= render("shared/filters") do |form| %>
    <%= form.text_field_tag(:eventable_id, params.dig(:filter, :eventable_id), title: "Resource ID") %>
    <%= form.select :type, Event.type.values, { filter_value: params.dig(:filter, :type) }, { data: { behavior: "choices-input" }} %>
    <%= form.date_range title: "Created At", filter_value: [params.dig(:filter, :from_date), params.dig(:filter, :to_date)] %>
  <% end %>
<% end %>

<div class="card-body">
  <%= render "collection", resources: @resources %>

  <%= render "shared/pagination", resources: @resources %>
</div>
