<table class="table table-bordered table-striped">
  <thead>
    <tr role="row">
      <th>
        Name
      </th>
      <th>
        Slot index
      </th>
      <th>
        Phone number
      </th>
      <th>
        SMS gateway
      </th>
      <th>
        Channel group
      </th>
      <th>
        Created At
      </th>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |sms_gateway_channel| %>
      <tr role="row" class="<%= cycle("odd", "even", name: "row_class") -%>">
        <td>
          <%= link_to(sms_gateway_channel.name, polymorphic_path([:dashboard, sms_gateway_channel])) %>
        </td>

        <td>
          <%= sms_gateway_channel.slot_index %>
        </td>

        <td>
          <% if sms_gateway_channel.phone_number.present? %>
            <%= link_to(sms_gateway_channel.phone_number.number, polymorphic_path([:dashboard, sms_gateway_channel.phone_number])) %>
          <% end %>
        </td>

        <td>
          <%= link_to(sms_gateway_channel.sms_gateway.name, polymorphic_path([:dashboard, sms_gateway_channel.sms_gateway])) %>
        </td>

        <td>
          <% if sms_gateway_channel.channel_group.present? %>
            <%= link_to(sms_gateway_channel.channel_group.name, polymorphic_path([:dashboard, sms_gateway_channel.channel_group])) %>
          <% end %>
        </td>

        <td>
          <%= local_time(sms_gateway_channel.created_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
