<%= page_title(title: "Channels") do %>
  <%= render("shared/filters") do |form| %>
    <% if policy(:sms_gateway).show? %>
      <%= form.select(
          :sms_gateway_id,
          current_carrier.sms_gateways.map { |sms_gateway| [sms_gateway.name, sms_gateway.id] },
          { filter_value: params.dig(:filter, :sms_gateway_id) },
          { data: { behavior: "choices-input" }}
        )
      %>
    <% end %>

    <% if policy(:sms_gateway_channel_group).show? %>
      <%= form.select(
          :channel_group_id,
          current_carrier.sms_gateway_channel_groups.map { |channel_group| [channel_group.name, channel_group.id] },
          { filter_value: params.dig(:filter, :channel_group_id) },
          { data: { behavior: "choices-input" }}
        )
      %>
    <% end %>

    <% if policy(:phone_number).show? %>
      <%= form.select(
          :phone_number_id,
          current_carrier.phone_numbers.map { |phone_number| [phone_number.number, phone_number.id] },
          { filter_value: params.dig(:filter, :phone_number_id) },
          { data: { behavior: "choices-input" }}
        )
      %>
    <% end %>

    <%= form.text_field_tag(:name, params.dig(:filter, :name)) %>
    <%= form.date_range title: "Created At", filter_value: [params.dig(:filter, :from_date), params.dig(:filter, :to_date)] %>
  <% end %>

  <% if policy(:sms_gateway_channel).new? %>
    <%=
      render(
        "shared/new_resource_page_action",
        path: new_dashboard_sms_gateway_channel_path(params.permit(filter: {}))
      )
    %>
  <% end %>
<% end %>

<div class="card-body">
  <%= render "collection", resources: @resources %>

  <%= render "shared/pagination", resources: @resources %>
</div>
