<div class="card-body">
  <%= simple_form_for([:dashboard, resource]) do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :name, placeholder: "Main SIP Trunk", maxlength: 128, hint: "A friendly name for the SIP Trunk" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :host, placeholder: "sip.example.com:5061", hint: "Can be either an IP Address or FQDN" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%=
          f.input(
            :dial_string_prefix,
            as: :numeric,
            hint: "Prefix applied to the beginning of the dial string"
          ) %>
      </div>
    </div>

    <%= f.input :trunk_prefix, as: :boolean, wrapper: :custom_boolean_switch, hint: "Turn this on to replace the country code with a 0" %>

    <%= f.button :submit %>
  <% end %>
</div>
