<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= current_carrier.name %> - <%= yield(:page_title) %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <%= render "shared/favicon" %>

    <% if current_carrier.custom_theme_css.present? %>
      <%# NOTE: We need to handle it differently when we are ready to open letting user custom their own css %>
      <%= tag.style(current_carrier.custom_theme_css.html_safe) %>
    <% end %>
  </head>

  <body data-controller="dashboard sidebar">
    <%= render "layouts/dashboard/side_navigation" %>

    <div class="wrapper">
      <%= render "layouts/dashboard/header" %>

      <div class="body">
        <div class="container-lg">
          <%= render "shared/alerts" %>

          <div class="card">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
