<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width" name="viewport"/>
    <%= stylesheet_link_tag "foundation_emails" %>
  </head>
  <body>
    <table class="body">
      <tr>
        <td align="center" class="center" valign="top">
          <center>
            <container>
              <row class="body-border">
                <columns small="1"></columns>
                <columns small="10">
                  <spacer size="32"></spacer>
                  <center>
                    <%= carrier_logo(@carrier, height: 60) %>
                  </center>
                  <spacer size="16"></spacer>
                  <%= yield %>
                  <spacer size="16"></spacer>
                  <hr/>
                </columns>
                <columns small="1"></columns>
              </row>
              <row class="footer">
                <columns small="1"></columns>
                <columns small="10">
                  <p></p>
                  <center>
                    <small><%= @carrier.name %></small>
                  </center>
                  <p></p>
                  <center>
                    <small>
                      <%= @carrier.website %>
                    </small>
                  </center>
                </columns>
                <columns small="1">
                  <spacer size="16"></spacer>
                  <hr/>
                </columns>
                <columns small="1"></columns>
              </row>
            </container>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
